.start-screen {
  background-image: url("startscreen.png");
  height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.character-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.character-option {
  cursor: pointer;
}

.character-option img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.character-option p {
  margin-top: 10px;
  font-weight: bold;
}