.container{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.img{
    height: 300px;
    width: 400px;
}
.kroppsDeler{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button{
    height: 50px;
    width: 50px;
}